/* https://youtu.be/4X8GDpx1Xsc?t=10855 */
@media (max-width: 620px) {
    .pokemon-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-arrow {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-pokemon {
        height: 480px;
    }

    .card .image-poke {
        max-height: 230px;
    }

    .card .info .name {
        max-width: 50%;
        font-size: 18px;
    }

    .card .info .hp {
        font-size: 14px;
    }
}